<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="css/stylesheet.css" type="text/css" />
</head>
<body>
    <div id="app">
        <input type="text" v-model="keyword">
        <p>{{message}}</p>
        <ul>
            <li v-for="item in items">
                <a v-bind:href="item.url" target=_blank"">{{item.title}}</a>
            </li>
        </ul>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.5.16/dist/vue.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/axios@0.18.0/dist/axios.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/lodash@4.17.10/lodash.min.js"></script>
    <script src="js/javascript.js"></script>
</body>  
</html>